html,
body,
.canvas {
	height: 100%;
 	margin: 0;
   	padding: 0;
}

body {
	font-family: Arial;
	font-size: 0.9em;
	color: #555;
}

h3 {
	font-size: 0.8em;
}

ul {
	list-style: none;
	padding-left: 0;
	border-radius: 5px;
}

li {
	padding-left: 2em;
}

li:hover {
	color: #fff;
	background-color: #f0994d;
}

a {
	color: #f0994d;
	text-decoration: none;
}

.nav-links {
	font-size: 0.8em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

.weather-logo {
	margin-left: 0;
}

a:visited {
	color: #f0994d;
}

td {
	font-size: 0.9em;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.reset-btn {
	right: 0;
	bottom: 0;
}

.reset {
	height: 3em;
}

.input {
    width: 100%;
    height: 2.2em;
}

.arrow-img {
	left: 40%;
	width: 3em;
}

.list-holder {
    width: 100%;
    top: 0;
}

.listnav-out,
.listnav-in {
	width: 204px
}

.listnav-in {
	overflow: scroll;
	height: 10em;
	background-color: #fff;
}

.weather-holder-outer {
	overflow: hidden;
	left: 0px;
	bottom: 0;
	width: 100%;
	height: 20em;
	pointer-events: none;
}

.weather-holder-inner {

	left: 0px;
	bottom: 20em;
	width: 100%;
	height: 20em;

	background: -webkit-linear-gradient(skyblue, transparent),
	-webkit-linear-gradient(to right, #fff, transparent);
	background: -o-linear-gradient(skyblue, transparent),
	-o-linear-gradient(to right, #fff, transparent);
	background: linear-gradient(skyblue, transparent),
	linear-gradient(to right, #fff, transparent);

	background-blend-mode: screen;
}

.weather-logo {
	bottom: 0px;
	left: 50%;
}

.weather-logo img {
	width: 48px;
	height: 48px;
	border-radius: 100%;
	margin: 0 auto;
}

.weather-holder-inner * {
	margin-left: 5%;
}

@media screen and (min-width: 330px) {

	.weather-holder-inner,
	.weather-holder-outer {
		width: 325px;
	}

	.weather-logo {
		bottom: 0px;
		left: 135px;
	}

	.input,
	.list-holder {
		width: 15em;
	}

	.weather-logo {
		bottom: 0px;
		left: 135px;
	}

	.weather-holder-inner * {
		margin-left: 20%;
	}

}

@media screen and (max-height: 480px) {

	.weather-holder-outer,
	.weather-holder-inner {
		left: auto;
		right: 0px;
	}

	.weather-logo {
		bottom: 0px;
		left: auto;
		right: 135px;
	}
}

@media screen and (min-width: 800px) {

	.listnav-out,
	.listnav-in {
		height: 250px;
	}

	h3,
	td {
		font-size: 1em;
	}
}